<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="ERROR">

  <variable name="DefaultLayout"
            value="${longdate} [${threadid}] ${level:upperCase=true}: ${message} ${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=type,message,method,stacktrace}" />
  <variable name="DefaultArchiveNumbering" value="DateAndSequence" />
  <variable name="DefaultArchiveDateFormat" value="yyyyMMdd" />
  <variable name="DefaultArchiveAboveSize" value="524288000" />
  <variable name="DefaultMaxArchiveFiles" value="10" />

  <extensions>
    <add assembly="NLog.Targets.Syslog" />
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Extensions.Logging"/>
  </extensions>

  <targets>
    <default-wrapper xsi:type="AsyncWrapper"
                     queueLimit="10000"
                     overflowAction="Discard">
    </default-wrapper>
    <default-target-parameters xsi:type="File"
                               layout="${DefaultLayout}"
                               archiveNumbering="${DefaultArchiveNumbering}"
                               archiveDateFormat="${DefaultArchiveDateFormat}"
                               archiveAboveSize="${DefaultArchiveAboveSize}"
                               maxArchiveFiles="${DefaultMaxArchiveFiles}" />

    <target name="fileTarget"
            xsi:type="File"
            fileName="${configsetting:name=Logging.LogDirectory}\Prerender.current.log"
            archiveFileName="${configsetting:name=Logging.ArchiveDirectory}\Prerender.{#}.log" />

    <target name="syslog" type="Syslog" layout="${DefaultLayout}">
      <messageCreation>
        <facility>Local7</facility>
      </messageCreation>
      <messageSend>
        <protocol>TCP</protocol>
        <tcp>
          <server>logs6.papertrailapp.com</server>
          <port>21155</port>
          <tls>
            <enabled>true</enabled>
          </tls>
        </tcp>
      </messageSend>
    </target>
  </targets>
</nlog>